@font-face {
    font-family: 'Chomsky';
    src: url('fonts/chomsky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yatraone';
    src: url('fonts/yatraone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greatvibes';
    src: url('fonts/greatvibes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shocardcaps';
    src: url('fonts/shocardcaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ricksamerican';
    src: url('fonts/ricksamerican.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlin';
    src: url('fonts/berlin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Henrididot';
    src: url('fonts/henrididot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Billajenka';
    src: url('fonts/billajenka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antiquebookcover';
    src: url('fonts/Antiquebookcover.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebgaramond';
    src: url('fonts/Ebgaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hillside';
    src: url('fonts/Hillside.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General body styling */
body {
    font-family: "Fira Code", monospace;
    margin: 0;
    padding: 0;
    overflow: auto; /* Changed from hidden to auto */
    background-color: #FDFDFD; /* Light grey background for contrast */
    color: #000000; /* Black text for readability */
}

/* Header styling */
.header-container {
    background-color: #FDFDFD; /* White background */
    padding: 2rem 0;
    text-align: center; /* Centre the header */
    border-bottom: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    margin-right: 1rem; /* Space between logo and title */
}

.header-logo img {
    width: 400px; /* Adjust the width of the logo */
    height: 400px; /* Maintain aspect ratio */
    object-fit: contain;
}

.threejs-container {
    display: block;
    margin: 0 auto;
    width: 50%; /* Adjusted width */
    height: 40px; /* Adjusted height */
    max-width: 200px; /* Adjusted max-width */
    /*border: 1px solid #ddd; !* Optional: Add a border for visual reference *!*/
}

.header-title {
    font-family: "Fira Code", monospace;
    font-size: 1rem; /* Font size */
    font-weight: 200; /* Less bold */
    color: #000;
    margin: 0;
}

.header-subtitle, .header-date {
    font-size: 1.5rem;
    color: #666;
    margin-top: 0.5rem;
}

/* Navbar styling */
.navbar {
    background-color: #FDFDFD;
    color: #000;
    border: none;
    padding: 0rem 1rem 0 1rem; /* Remove bottom padding */
    display: flex;
    justify-content: center; /* Centre the navbar */
    align-items: center; /* Align items to the center */
}

.navbar-brand-container {
    display: flex;
    align-items: center; /* Align items to the center */
    justify-content: flex-start; /* Align items to the left */
}

.navbar-brand-logo .navbar-logo {
    width: 100px; /* Adjust the width of the logo */
    height: 100px; /* Maintain aspect ratio */
    object-fit: scale-down;
    margin-right: 2px; /* Space between logo and title */
    margin-left: 10px;
}

.navbar-brand .navbar-title {
    font-family: 'Antiquebookcover', serif; /* Apply Antiquebookcover font */
    font-size: 2.4rem; /* Font size */
    font-weight: 600; /* Less bold */
    color: #000;
}

.navbar-nav {
    display: flex;
    align-items: center; /* Align items to the center */
}

.navbar-nav .nav-link {
    font-family: "Fira Code", monospace; /* Apply Antiquebookcover font */
    font-size: 1.3rem;
    font-weight: 400;
    color: #000;
    margin: 0 1rem; /* Add spacing between nav links */
}

.navbar-nav .navbar-title .navbar-brand .nav-link:hover {
    color: #D2042D;
}

/* Footer styling */
.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    margin: 0 10px;
}

footer a:hover {
    color: #d1d1d1;
}

/* Blog post styling */
.listing-title, .listing-subtitle {
    font-family: "Fira Code", monospace;
    font-size: 1.2rem;
    color: #000000;

}

.listing-title:hover {
    color: red;
}

.listing-description {
    font-family: "Fira Code", monospace;
    color: #000000;
}

.listing-date, .listing-author, .listing-categories, .metadata {
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    color: #000000;

}

/* Category tags styling */
.listing-categories .category {
    display: inline-block;
    background-color: #4A90E2;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.button-container {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    text-align: center;
}

.custom-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Ensure button font matches the rest */
}

/* Responsive styles */
@media (max-width: 1024px) {
    .header-logo img {
        width: 200px; /* Adjust the width of the logo */
        height: 200px; /* Maintain aspect ratio */
    }

    .header-title {
        font-size: 0.8rem; /* Font size */
    }

    .header-subtitle, .header-date {
        font-size: 1.2rem;
    }

    .navbar-brand .navbar-title {
        font-size: 2.5rem;
    }

    .navbar-nav .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .header-logo img {
        width: 100px; /* Adjust the width of the logo */
        height: 100px; /* Maintain aspect ratio */
    }

    .header-title {
        font-size: 0.6rem; /* Font size */
    }

    .header-subtitle, .header-date {
        font-size: 1rem;
    }

    .navbar-brand .navbar-title {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .custom-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Ensure images are displayed correctly */
img {
    max-width: 100%;
    height: auto;
}


.full-width-image {
    width: 100vw;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.full-width-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.full-width-content {
    width: 100%;
    max-width: 600px; /* Adjust as needed for your content width */
    padding: 20px;
    box-sizing: border-box;
}
